{% extends "base.html.twig" %}

{% block body %}
	<h1 class="title is-1">{{ news.title }}</h1>
		<div class="media is-pulled-left">	
			<figure class="image m-2">
				<img style="max-width: 400px;" src="{{ asset('uploads/news/' ~ news.thumbnail) }}" alt="Placeholder image">
			</figure>
		</div>
		<div class="media-content">
			<p class="has-text-light">{{ news.content }}</p>
		</div>
{% endblock %}