{% extends "base.html.twig" %}

{% block body %}
	<h1 class="title">Edito</h1>
	<div class="container">
		<div class="message-body">
			<p>	
		  	Vous êtes au bon endroit !
			Bienvenue sur Univers-Toine, la plateforme qui vous offre un espace communautaire old-school où vous pouvez discuter et vous connecter avec des personnes qui partagent les mêmes centres d'intérêts que vous.
			Notre forum regorge de discussions passionnantes sur une variété de sujets classés dans des catégories appropriées. Et ce n'est pas tout ! Nous avons également une section actualité qui vous tient informé sur les dernières tendances et nouvelles importantes.
			</p>
			<p>
			<center><a href="" class="has-text-link">Direction le forum</a></center>
		  	</p>
			<p>	
			Alors, ne perdez plus de temps et rejoignez-nous dans notre espace communautaire ! Si vous le souhaitez, vous pouvez vous inscrire via le lien "s'inscrire" et commencer à explorer notre monde passionnant dès maintenant.
			</p>
			<a href="register" class="button is-info">S'inscrire&emsp;<i class="fa fa-arrow-right"></i></a>
		</div>
	</div>

{% endblock %}