{% extends "default/base.html.twig" %}

{% block body %}
{% for message in app.flashes('error') %}        
    <div class="notification is-danger">{{ message }}</div>
{% endfor %}
<h1 class="title is-2">Créer un message</h1>
<form method="post" action="">
	<div class="form-group">
	    <label class="label" for="name">Titre du sujet :</label>
	    <input class="input" type="text" id="name" name="name" placeholder="Titre du sujet" />
	</div>
	<div class="form-group">
	    <label for="content">Contenu :</label>
	    <textarea id="content" name="content" class="textarea wysiwg"></textarea>
	</div>
	{% if "ROLE_ADMIN" in app.user.roles %}
		<div class="form-group has-text-light">
			<label class="label" for="type" class="label">Type de sujet</label>
			<input type="checkbox" class="checkbox" value="pinned" name="type"> Annonce
		</div>
	{% endif %}
	<button class="button is-success mt-2" type="submit">Envoyer</button>
</form>

{% endblock %}