{% extends "default/base.html.twig" %}

{% block body %}
    {% for message in app.flashes('success') %}        
            <div class="notification is-success">{{ message }}</div>
    {% endfor %}
    <div class="message is-info">
        <div class="message-header">
          <p>Modification du mot de passe</p>
        </div>
        <div class="message-body">
          On modifie ses infos de connexion
        </div>
    </div>
    {{ form(form) }}
{% endblock %}