{% extends "base.html.twig" %}

{% block body %}

    <div class="columns">
    	<div class="column is-one-fifth"><img class="image is-96x96" src="{{ asset('uploads/avatars/' ~ user.id ~ '/' ~ user.avatarName) }}" alt="Placeholder image"></div>
    	<div class="column"><h1 class="title is-1">Profil de {{ user.displayName }}</h1></div>
    </div>
	<hr>
	{% if app.user is same as user %}
		<a href="{{ path('users.edit', {id: app.user.id}) }}" class="button is-primary">Modifier mon profil</a>
	{% endif %}

{% endblock %}